{% extends "storklapp/base.html" %}
{% block title %}StorKl - {{ task.project.name }}/{{ task.name }}{% endblock %}

{% block content %}
<h1>
<a href="/project/{{ task.project.id }}">{{ task.project.name }}</a>/{{ task.name }}
</h1>
<br />
{{ task.description }}
<br />
<span class="userlist">{{ task.users.all|join:", " }}</span>
<br />
<img src="{{ MEDIA_URL }}/graphs/tasks/task_{{task.project.id}}_{{task.id}}.svg" usemap="#task_graph" />
<map name="task_graph">
{% include mapfile %}
</map>
<form action="/task/{{ task.id }}" method="post">
{{ form.as_p }}
<input type="submit" value="save" />
</form>
<script>
	$(function() {
		$( "#id_deadline" ).datepicker();
	});
</script>
{% if owner %}
<script type="text/javascript">
<!--
function confirm_delete(){
	var confirmation = confirm("Do you really want to delete task \"{{ task.name }}\" permanently?");
	if (confirmation) {
		window.location = "/delete_task/{{ task.id }}";
	}
}
//-->
</script>
<a href="#" onclick="confirm_delete();">delete this task</a>
{% endif %}
{% endblock %}

