<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}StorKl{% endblock %}</title>
	<link type="text/css" href="{{ MEDIA_URL }}/style/storkl.css" rel="Stylesheet" />	
	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery.js"></script>
	<link type="text/css" href="{{ MEDIA_URL }}/jqueryui/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	
	<script type="text/javascript" src="{{ MEDIA_URL }}/jqueryui/js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/jqueryui/js/jquery-ui-1.8.16.custom.min.js"></script>
</head>

<body>
    <div id="toolbar">
		{% if user.is_authenticated %}
		{{ user.username }}
		{% else %}
		new user
		{% endif %}
		<a href="/dashboard">dashboard</a>
		<a href="/logout">logout</a>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
