{% extends "storklapp/base.html" %}
{% block title %}StorKl - {{ project.name }} {% endblock %}

{% block content %}
<h1>
<a href="/project/{{ project.id }}">{{ project.name }}</a>
</h1>
<br />
<span class="userlist">{{ project.description }}</span>
<br />
<img src="{{ MEDIA_URL }}/graphs/projects/project_{{project.id}}.png" />
<br />{% if owned %}
<a href="/edit_project/{{ project.id }}">edit this project</a>
{% else %}
Owner: {{ project.owner }}
{% endif %}
<br />
<ul>
{% for task in tasks %}
<li>
<a href="/task/{{ task.id }}">{{ task.name }}</a>
<span class="userlist">{{ task.users.all|join:", " }}</span>
</li>
{% endfor %}
</ul>
{% if owned %}
<form action="/project/{{ project.id }}" method="post">
{{ form.as_p }}
<input type="submit" />
{% endif %}
{% endblock %}
