/* basic style for CSS debug */

body {
    background: #eee;
    margin:0px;
}

div {
    background: #fff;
    font-family: arial;
    padding: 0.5em;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1em;
}

h1 {
    font-family: arial;
}

h2 {
    font-family: arial;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}


a {
    color: #020;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #040;
}

label {
    padding-right: 1em;
}

input {
    margin-bottom: 0.5em;
}

textarea {
    width: 15em;
    height: 5em;
}

#message.widget #text {
    white-space: pre-wrap;
}

.toolbar {
    text-align: right;
}
